@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@



<div class="container overflow-hidden text-center" style="background-color:rgb(92, 166, 76)">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3"><img src="https://i0.wp.com/ola.rs/wp-content/uploads/2021/11/ZuZu.jpg" width="400px" height="400px" /></div>
        </div>
        <div class="col-6">
            <div class="p-3"><img src="https://i0.wp.com/ola.rs/wp-content/uploads/2019/10/3.png" width="400px" height="400px" /></div>
        </div>
        <div class="col-6">
            <div class="p-3"><img src="https://i0.wp.com/ola.rs/wp-content/uploads/2021/11/8.png" width="400px" height="400px" /></div>
        </div>
        <div class="col-6">
            <div class="p-3"><img src="https://i0.wp.com/ola.rs/wp-content/uploads/2021/11/11.png" width="400px" height="400px" /></div>
        </div>
    </div>
</div>